body{
   background-color: rgb(3, 3, 62);
}
#h1{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(196, 106, 106);
}
.list{
    text-align: left
}
#films{
    text-align: left;
    font-size: smaller;
    cursor: pointer;
    color: rgb(24, 221, 205);
    float: left;
    font-weight: lighter;
}
#film1{
    text-align: center;
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.menu{
    color: rgb(207, 226, 226);
    text-align: left;
}
#h3{
    text-align: center;
    color: rgb(214, 22, 173);
}
.num,.show,.tick{
    text-align: center;
    font-weight: bolder;
    color: rgb(168, 131, 53)
}
#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    background-color: rgb(15, 112, 15);
}